[tool.uv.workspace]
members = ["conjurl"]

[dependency-groups]
dev = [
    {include-group = "lint"},
    {include-group = "format"},
    {include-group = "test"},
    "lefthook>=1.11.14",
]
format = [
    "ruff>=0.12.0",
]
lint = [
    "ruff>=0.12.0",
]
test = [
    "pytest>=8.4.1",
]

[[tool.uv.index]]
name = "test-pypi"
url = "https://test.pypi.org/simple/"
publish-url = "https://test.pypi.org/legacy/"
explicit = false
